@using Entity
@model Category
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/STeacher/Views/Shared/_STeacherLayout.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title ">KATEGORİ GÜNCELLE</h3>
                    </div>
                    <div class="card-body">
                        <form action="/STeacher/Category/Update" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="ID">Sınıf ID</label>
                                <input name="ID" readonly value="@Model.ID" class="form-control disabled" />
                            </div>
                            <div class="form-group">
                                <label for="Name">Kullanıcı Adı</label>
                                <input name="Name" value="@Model.Name" class="form-control" />
                            </div>
                            <input type="submit" value="Güncelle" class="form-control btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

