
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/TStudent/Views/Shared/_StudentLayout.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/TStudent/Document/ClassroomList"><b>DOKÜMANLAR</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Tüm Kategoriler</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="mailto:elif@robotikbilim.com.tr?subject=Konuyu Giriniz"><b>ÖĞRETMENE MAİL AT</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Tüm Dokümanlar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>