@using Entity
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    List<User> users = Query.UserList();
    List<Classroom> classrooms = Query.ClassroomList();
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><b> ÖĞRENCİ EKLE </b></h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <form action="/Teacher/Student/Add" method="post">
                            <div class="form-group">
                                <label for="ID" class="text-primary"><b>Sınıf Seçiniz</b></label>
                                <select name="ClassroomID" class="form-control">
                                    @foreach (var item in classrooms)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="UserName" class="text-primary"><b>Kullanıcı Adı</b></label>
                                <input name="UserName" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="FirstName" class="text-primary"><b>Öğrenci Adı</b></label>
                                <input name="FirstName" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="LastName" class="text-primary"><b>Öğrenci Soyadı</b></label>
                                <input name="LastName" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="Email" class="text-primary"><b>Email</b></label>
                                <input name="Email" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="Password" class="text-primary"><b>Şifre</b></label>
                                <input name="Password" class="form-control" rows="3" />
                            </div>
                            <div class="form-group">
                                <label for="PhoneNumber" class="text-primary"><b>Telefon Numarası</b></label>
                                <input name="PhoneNumber" class="form-control" rows="3" />
                            </div>
                            <input type="submit" value="Ekle" class="form-control btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>