@using Entity
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    List<Classroom> classrooms = Query.ClassroomList();
}

<!-- End Navbar -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><b> SINIFLAR </b></h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="display" style="width:100%" id="teacherLessonTable">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Sınıf</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in classrooms)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>
                                            <a href="/Teacher/Classroom/Update/@item.ID">
                                                <input type="submit" value="Güncelle" class="btn btn-primary" />
                                            </a>

                                            <a href="/Teacher/Classroom/Delete/@item.ID">
                                                <input type="submit" value="SİL" class="btn btn-danger" />
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
