@using Entity
@model Document
@{
    ViewBag.Title = "toClassroom";
    Layout = "~/Areas/STeacher/Views/Shared/_STeacherLayout.cshtml";
    List<Classroom> classrooms = Query.ClassroomList();
}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title ">ÖĞRENCİYİ SINIFA ATA</h3>
                    </div>
                    <div class="card-body">
                        <form action="/STeacher/Document/toClassroom" method="post">
                            <div class="form-group">
                                <label for="ID">Sınıf Seçiniz:</label>
                                <input name="ID" readonly value="@Model.ID" class="form-control disabled" />
                            </div>
                            <div class="form-group">
                                <label for="ClassroomID">Sınıf Seçiniz:</label>
                                <select name="ClassroomID" class="form-control" id="">
                                    <option selected disabled value="">Sınıf Seçiniz.. </option>
                                    @foreach (var item in classrooms)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <input type="submit" value="Ekle" class="form-control btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

