
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/STeacher/Views/Shared/_STeacherLayout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-rose">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/STeacher/Classroom/Index"><b>SINIFLAR</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Tüm Sınıflar</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-rose">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/STeacher/Classroom/Add"><b>SINIF EKLE</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Sınıf Ekle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/STeacher/Student/Index"><b>ÖĞRENCİLER</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Tüm Öğrenciler</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/STeacher/Student/Add"><b>ÖĞRENCİ EKLE</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Öğrenci Ekle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/STeacher/Category/Index"><b>KATEGORİLER</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Tüm Kategoriler</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/STeacher/Category/Add"><b>KATEGORİ EKLE</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Kategori Ekle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/STeacher/Document/Index"><b>DOKÜMANLAR</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Tüm Dokümanlar</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a href="/STeacher/Document/Add"><b>DOKÜMAN EKLE</b></a></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>Doküman Ekle</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

